.model{
    &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #0009;
        z-index: 100;
    }
    &__content{
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.9);
        background-color: #fff;
        z-index: 101;
        opacity: 0;
        animation: model .5s forwards;
    }
}
@keyframes model {
    to{
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    
}